<%- include('../views/header'); %>
  <div class="container my-4">
    <div class="row">
      <div class="loginRegisterForm">
        <p class="d-inline-flex gap-1 mb-2">
          <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse"
            data-bs-target="#registerForm" aria-expanded="false" aria-controls="registerForm">
            Register
          </button>
          <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#loginForm"
            aria-expanded="false" aria-controls="loginForm">
            Login
          </button>
        </p>
        <div class="collapse" id="registerForm">
          <div class="card card-body">
            <form id="formRegister">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <!-- <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
              </div> -->
              <div class="mb-3">
                <label for="firstName" class="form-label">Adı</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="firstName">
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Soyadı</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="lastName">
              </div>
              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Telefon Numarası</label>
                <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneNumber">
              </div>
              <div class="d-flex justify-content-end">
                <button id="submitFormRegister" class="btn btn-secondary">Gönder</button>
              </div>
            </form>
          </div>
        </div>
        <div class="collapse" id="loginForm">
          <div class="card card-body">

            <form id="formlogin">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailLogin" aria-describedby="email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordLogin">
              </div>
              <div class="mb-3 d-flex flex-column ">
                <label class="form-label text-end">
                  <a class="text-danger" data-bs-toggle="collapse" href="#forgetPass" aria-expanded="false"
                    aria-controls="forgetPass">Şifremi Unuttum</a>
                </label>
                <div class="collapse" id="forgetPass">
                  <div class="card card-body border-0">
                    <div class="input-group mb-3">
                      <input id="forgetpass" type="email" class="form-control" placeholder="email yazınız."
                        aria-label="email yazınız." aria-describedby="button-forgetpass">
                      <button class="btn btn-outline-secondary" type="button" id="button-forgetpass">Gönders</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button id="submitFormLogin" class="btn btn-secondary">Gönder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../views/footer'); %>