<nav id="menu">
  <div class="container">
    <div class="row">
      <div class="trigger"></div>
      <ul class="nav nav-underline justify-content-center">
        <li class="nav-item">
          <a id="allcatagory" class="nav-link text-capitalize active" href="javascript:void(0)">All</a>
        </li>

        <% catagory_data.forEach(e=> { %>
          <li class="nav-item">
            <a id="catagory<%= e.shopier_id %>" class="catagoryTopMenu nav-link text-capitalize" href="javascript:void(0)"><%= e.title %></a>
          </li>
        <% }); %>

      </ul>
    </div>
  </div>
</nav>