<p class="card-text">
    Sahip olduğu enerji sayesinde bulunduğunuz ortamın negatif enerjisini kısa
    sürede yok eden bir taştır. Bu sebeple meditasyon taşları içinde en çok
    tercih edilen doğal taşlardan biri olmuştur. Antik çağlardan bu yana zararlı
    alışkanlıklardan arınmak için yardımcı taş olarak kullanıla gelmiştir.
</p>