<div class="container">
    <a href="/" id="logo" title="tarzı sahane">Tarzı Şahane</a>
    <div class="right-links">
        <ul>
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/products">Ürünler</a></li>
            <li><a href="/blog">Blog</a></li>
            <% if(page_params !=="passchange" ){ %>
                <% if(permissions==="admin" || permissions==="user" ) { %>
                    <li><a href="sepet.html"><span class="ico-products"></span>3 ürün, 4 500.00 tl</a></li>
                    <li><a href="/panel"><span class="ico-account"></span>hesabım</a></li>
                    <li><a id="page_exit" href="javascript:void(0)"><span class="ico-signout"></span>çıkış</a></li>
                <% } %>
                <% if(permissions==="visitor" ) { %>
                    <li><a href="/login">giriş</a></li>
                <% } %>
            <% } %>

        </ul>
    </div>
</div>