<div class="container">
    <a href="/" id="logo" title="tarzı sahane">Tarzı Şahane</a>
    <div class="right-links">
        <ul>
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/products">Ürünler</a></li>
            <li><a href="/blog">Blog</a></li>
            <% if(page_params !=="passchange" ){ %>
                <% if(permissions==="admin" || permissions==="user" || permissions==="visitor") { %>
                    <% if(page_params === "products" || page_params === "sepet") {%>
                        <li><a href="sepet"><span class="ico-products"></span><span class="h6 text-danger font-3" id="sepetmiktari"></span> ürün</a></li>
                    <% } %>
                    <li><a href="/panel"><i class="h6 me-2 bi bi-person-vcard-fill"></i>hesabım</a></li>
                    <% if(permissions==="admin" || permissions==="user") { %>
                        <li><a id="page_exit" href="javascript:void(0)"><i class="h6 me-2 bi bi-box-arrow-left"></i> çıkış</a></li>
                    <% } %>
                <% } %>
                <% if(permissions==="visitor" ) { %>
                    <li><a href="/login">giriş</a></li>
                <% } %>
            <% } %>

        </ul>
    </div>
</div>