<nav id="menu">
    <div class="container">
        <div class="row">
            <div class="trigger"></div>
            <ul class="nav nav-underline justify-content-center">
                <li class="nav-item">
                  <a class="nav-link text-capitalize active" href="#">All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-capitalize" href="#">kategori 1</a>
                </li>

              </ul>
        </div>
    </div>
</nav>