<div class="menuLeft">
    <ul class="nav flex-column me-2">
      <p class="fw-bold fs-6">Menü</p>
      <% if(permissions==="admin" ) {%>
        <li class="nav-item">
          <a class="nav-link p-1" href="/panel/kullanici_kontrol">kullanici_kontrol</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-1" href="/panel/shopier">Shopier işlemleri</a>
        </li>
        <% } %>
      <li class="nav-item">
        <a class="nav-link p-1" aria-current="page"
          href="/panel/panel_kullanici_bilgileri">panel/kullanıcı
          işlemleri</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-1" aria-current="page"
          href="/panel/sifre_islemleri">şifre işlemleri</a>
      </li>
    </ul>