<nav class="navbar navbar-expand-lg bg-body-tertiary pb-0 fixed-top">
    <div class="container-fluid ps-0">
      <a class="navbar-brand text-center" href="/">Tarzı Şahane</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel">Panel Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <% if(permissions==="user" || permissions==="admin" ) {%>
              <a id="page_exit" class="nav-link" href="javascript:void(0)">logout</a>
              <% } %>
          </li>


        </ul>
      </div>
    </div>
  </nav>