<div class="pagination">
  <ul>
    <li class="ico-prev"><a href="javascript:void(0)"><span class="ico-prev"></span></a></li>
      <%  for (let index = 0; index < product_data_length; index++) {%>
        <li class="active<%= index + 1 %>"><a href="javascript:void(0)"><%= index + 1 %></a></li>
      <%}%>
    <li class="ico-next"><a href="javascript:void(0)"><span class="ico-next"></span></a></li>
  </ul>
</div>