<div class="pagination">
    <ul>
      <li><a href="#"><span class="ico-prev"></span></a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><span class="ico-next"></span></a></li>
    </ul>
  </div>