<%- include('../views/header'); %>
    <div class=" mx-4 mb-2">
        <h1>SÖZLEŞMELER</h1>
        <div class="row ">
            <div class="col-4">
                <div id="list-example" class="list-group text-capitalize">
                    <a class="list-group-item list-group-item-action disabled" href="#">Konu listesi</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-1">taraflar</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">tanımlar</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">konu</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">SATICI BİLGİLERİ</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">ALICI BİLGİLERİ</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-6">SİPARİŞ VEREN KİŞİ
                        BİLGİLERİ</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-7">SÖZLEŞME KONUSU ÜRÜN/ÜRÜNLER
                        BİLGİLERİ</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-8">FATURA BİLGİLERİ</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-9">GENEL HÜKÜMLER</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-10">CAYMA HAKKI</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-11">CAYMA HAKKI KULLANILAMAYACAK
                        ÜRÜNLER</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-12">TEMERRÜT HALİ VE HUKUKİ
                        SONUÇLARI</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-13">YETKİLİ MAHKEME</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-14">YÜRÜRLÜK</a>
                </div>
            </div>
            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                    class="scrollspy-example" tabindex="0">
                    <h3>Mesafeli Satış Sözleşmesi</h4>
                        <ol class="list-group list-group-numbered">
                            <li id="list-item-1" class="list-group-item">
                                <strong>TARAFLAR</strong>
                                <p>
                                    İşbu Sözleşme aşağıdaki taraflar arasında aşağıda belirtilen hüküm ve şartlar
                                    çerçevesinde imzalanmıştır.

                                    <!-- ALICI:
                                AD-SOYAD:
                                ADRES: -->
                                <blockquote class="m-2">
                                    SATICI:<br>
                                    AD-SOYAD:Ünsal ÖZKARA <br>
                                    ADRES:Büyükçekmece / İstanbul <br>
                                </blockquote>
                                İş bu sözleşmeyi kabul etmekle ALICI, sözleşme konusu siparişi onayladığı takdirde
                                sipariş konusu bedeli ve varsa kargo ücreti, vergi gibi belirtilen ek ücretleri ödeme
                                yükümlülüğü altına gireceğini ve bu konuda bilgilendirildiğini peşinen kabul eder.

                                </p>
                            </li>
                            <li id="list-item-2" class="list-group-item">
                                <strong>TANIMLAR</strong>
                                <p>
                                    İşbu sözleşmenin uygulanmasında ve yorumlanmasında aşağıda yazılı terimler
                                    karşılarındaki yazılı
                                    açıklamaları ifade edeceklerdir.

                                    BAKAN: Gümrük ve Ticaret Bakanı’nı,<br>
                                    BAKANLIK: Gümrük ve Ticaret Bakanlığı’nı,<br>
                                    KANUN: 6502 sayılı Tüketicinin Korunması Hakkında Kanun’u,<br>
                                    YÖNETMELİK: Mesafeli Sözleşmeler Yönetmeliği’ni,<br>
                                    HİZMET: Bir ücret veya menfaat karşılığında yapılan ya da yapılması taahhüt edilen
                                    mal
                                    sağlama
                                    dışındaki her türlü tüketici işlemini,<br>
                                    SATICI: Ticari veya mesleki faaliyetleri kapsamında tüketiciye mal sunan veya mal
                                    sunan
                                    adına<br>
                                    veya hesabına hareket eden şirketi,<br>
                                    ALICI: Bir mal veya hizmeti ticari veya mesleki olmayan amaçlarla edinen, kullanan
                                    veya
                                    yararlanan gerçek ya da tüzel kişiyi,<br>
                                    SİTE: SATICI’ya ait internet sitesini,<br>
                                    SİPARİŞ VEREN: Bir mal veya hizmeti SATICI’ya ait internet sitesi üzerinden talep
                                    eden
                                    gerçek ya<br>
                                    da tüzel kişiyi,<br>
                                    TARAFLAR: SATICI ve ALICI’yı,<br>
                                    SÖZLEŞME: SATICI ve ALICI arasında akdedilen işbu sözleşmeyi,<br>
                                    MAL: Alışverişe konu olan taşınır eşyayı ve elektronik ortamda kullanılmak üzere
                                    hazırlanan
                                    yazılım, ses, görüntü ve benzeri gayri maddi malları,
                                </p>
                            </li>
                            <li id="list-item-3" class="list-group-item">
                                <strong>KONU</strong>
                                <p>
                                    İşbu Sözleşme, ALICI’nın, SATICI’ya ait internet sitesi üzerinden elektronik ortamda
                                    siparişini
                                    verdiği aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile
                                    ilgili
                                    olarak 6502 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmelere
                                    Dair
                                    Yönetmelik
                                    hükümleri gereğince tarafların hak ve yükümlülüklerini düzenler.

                                    Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve
                                    vaatler
                                    güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen
                                    fiyatlar ise
                                    belirtilen süre sonuna kadar geçerlidir.
                                </p>
                            </li>
                            <li id="list-item-4" class="list-group-item"><strong>SATICI BİLGİLERİ</strong>
                                <p>
                                <blockquote>
                                    Ünvanı:<br>
                                    Adres:<br>
                                    Telefon:<br>
                                    Faks:<br>
                                    Eposta:<br>
                                </blockquote>
                                </p>
                            </li>
                            <li id="list-item-5" class="list-group-item"><strong>ALICI BİLGİLERİ</strong>
                                <blockquote>
                                    Teslim edilecek kişi:<br>
                                    Teslimat Adresi:<br>
                                    Telefon:<br>
                                    Eposta/kullanıcı adı:<br>
                                </blockquote>
                            </li>
                            <li id="list-item-6" class="list-group-item"><strong>SİPARİŞ VEREN KİŞİ BİLGİLERİ</strong>
                                <blockquote>
                                    Ad/Soyad/Unvan:<br>
                                    Adres:<br>
                                    Telefon:<br>
                                    Eposta/kullanıcı adı:<br>
                                </blockquote>
                            </li>
                            <li id="list-item-7" class="list-group-item"><strong>SÖZLEŞME KONUSU ÜRÜN/ÜRÜNLER
                                    BİLGİLERİ</strong>
                                <ol class="list-group list-group-numbered">
                                    <li class="list-group-item"><strong>Malın/Ürün/Ürünlerin/Hizmetin temel
                                            özelliklerini
                                            (türü, miktarı, marka/modeli, rengi, adedi)</strong>
                                        <p>
                                            SATICI’ya ait internet sitesinde yayınlanmaktadır. Satıcı tarafından
                                            kampanya
                                            düzenlenmiş ise
                                            ilgili ürünün temel özelliklerini kampanya süresince inceleyebilirsiniz.
                                            Kampanya
                                            tarihine kadar
                                            geçerlidir.
                                        </p>
                                    </li>
                                    <li class="list-group-item"><strong>Fiyatlar</strong>
                                        <p>
                                            Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen
                                            fiyatlar
                                            ve vaatler
                                            güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan
                                            edilen
                                            fiyatlar ise
                                            belirtilen süre sonuna kadar geçerlidir.
                                        </p>

                                    </li>
                                    <li class="list-group-item"><strong>Vergiler ve Ödemeler</strong>
                                        <p>
                                            Sözleşme konusu mal ya da hizmetin tüm vergiler dâhil satış fiyatı aşağıda
                                            gösterilmiştir.

                                            Ürün Açıklaması Adet Birim Fiyatı Ara Toplam (KDV Dahil)
                                            Ürün 1 1 100.00 TL 100.00 TL
                                            Kargo Tutarı: 20.00 TL

                                            Toplam: 120.00 TL
                                        </p>
                                    </li>
                                </ol>
                            </li>
                            <li id="list-item-8" class="list-group-item"><strong>FATURA BİLGİLERİ</strong>
                                <p>
                                    Ad/Soyad/Unvan:<br>
                                    Adres:<br>
                                    Telefon:<br>
                                    Eposta/kullanıcı adı:<br>
                                    Fatura teslim: Fatura sipariş teslimatı sırasında fatura adresine sipariş ile
                                    birlikte teslim
                                    edilecektir.
                                </p>
                            </li>
                            <li id="list-item-9" class="list-group-item"><strong>GENEL HÜKÜMLER</strong>
                                <ol class="list-group list-group-numbered">
                                    <li class="list-group-item"><strong>Bilgilendirme ve Kabul</strong>
                                        <p>
                                            ALICI, SATICI’ya ait internet sitesinde sözleşme konusu ürünün temel
                                            nitelikleri, satış fiyatı
                                            ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup, bilgi sahibi
                                            olduğunu, elektronik
                                            ortamda gerekli teyidi verdiğini kabul, beyan ve taahhüt eder.
                                        </p>
                                    </li>
                                    <li class="list-group-item"><strong>Teslim Süresi</strong>
                                        <p>
                                            Sözleşme konusu her bir ürün, 30 günlük yasal süreyi aşmamak kaydı ile
                                            ALICI’nın yerleşim yeri
                                            uzaklığına bağlı olarak internet sitesindeki ön bilgiler kısmında belirtilen
                                            süre zarfında
                                            teslim edilir.
                                        </p>
                                    </li>
                                </ol>
                            </li>
                            <li id="list-item-10" class="list-group-item"><strong>CAYMA HAKKI</strong>
                                <p>
                                    ALICI, mesafeli sözleşmenin mal satışına ilişkin olması durumunda, ürünün kendisine
                                    veya
                                    gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 gün içerisinde,
                                    SATICI’ya
                                    bildirmek şartıyla hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma
                                    hakkını
                                    kullanabilir.
                                </p>
                            </li>
                            <li id="list-item-11" class="list-group-item"><strong>CAYMA HAKKI KULLANILAMAYACAK
                                    ÜRÜNLER</strong>
                                <p>
                                    ALICI’nın isteği veya açıkça kişisel ihtiyaçları doğrultusunda hazırlanan, iç giyim
                                    alt
                                    parçaları, makyaj malzemeleri, tek kullanımlık ürünler gibi ürünler cayma hakkı
                                    kapsamı dışında
                                    kalmaktadır.
                                </p>
                            </li>
                            <li id="list-item-12" class="list-group-item"><strong>TEMERRÜT HALİ VE HUKUKİ
                                    SONUÇLARI</strong>
                                <p>
                                    ALICI, ödeme işlemlerini kredi kartı ile yaptığı durumda temerrüde düştüğü takdirde,
                                    kart sahibi
                                    banka ile arasındaki kredi kartı sözleşmesi çerçevesinde faiz ödeyeceğini ve bankaya
                                    karşı
                                    sorumlu olacağını kabul, beyan ve taahhüt eder.
                                </p>
                            </li>
                            <li id="list-item-13" class="list-group-item"><strong>YETKİLİ MAHKEME</strong>
                                <p>
                                    İşbu sözleşmeden doğan uyuşmazlıklarda şikayet ve itirazlar, tüketicinin yerleşim
                                    yerinin
                                    bulunduğu veya tüketici işleminin yapıldığı yerdeki tüketici sorunları hakem
                                    heyetine veya
                                    tüketici mahkemesine yapılacaktır.
                                </p>
                            </li>
                            <li id="list-item-14" class="list-group-item"><strong>YÜRÜRLÜK</strong>
                                <p>
                                    ALICI, Site üzerinden verdiği siparişe ait ödemeyi gerçekleştirdiğinde işbu
                                    sözleşmenin tüm
                                    şartlarını kabul etmiş sayılır.
                                </p>
                            </li>
                        </ol>
                </div>
            </div>
        </div>
    </div>

    <%- include('../views/footer'); %>
        <!-- / footer -->