<div id="taslarin-anlamlari">
    <div class="container-fruid">
            <div class="card border-0 mt-2">
                <div class="card-heade border-0">
                    <div class="row mb-4 d-flex justify-content-between">
                        <div class="col-3">
                            <select style="border-color: #585c5f80; color: #585c5f;" class="p-2 form-select-md rounded-pill">
                                <option value="0">Taş Seçiniz</option>
                                <option value="ametist" selected>Ametist</option>
                                <option value="akik">Akik</option>
                            </select>
                        </div>
        
                    </div>
                </div>
                <div class="card-body d-none " data-taslarin-anlamlari-page="ametist">
                    <%- include(`../blog_page/taslarin-anlamlari_page/ametist`); %>

                </div>
                <div class="card-body d-none " data-taslarin-anlamlari-page="akik">
                    <%- include(`../blog_page/taslarin-anlamlari_page/akik`); %>

                </div>
                

            </div>
        <!-- / content -->
    </div>
    <!-- / container -->
</div>
<!-- / body -->