
    <div class="shopier row row-cols-1 row-cols-md-2 g-4">

      <div class="col">
        <div class="card  mb-3">
          <div class="card-header d-flex justify-content-between">
           Kategori İşlemleri <button id="catacory_add" type="button" class="text-capitalize btn btn-secondary">ekle</button>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>
          <div class="card-footer text-end"><button type="button" class="text-capitalize btn btn-success">onayla</button></div>
        </div>
      </div>


   

    </div>
  </div>