<div class="body">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-header text-capitalize">şifre işlemleri</div>
                <div class="card-body text-primary">
                    <div class="input-group mb-3">
                        <input id="forgetpass" type="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="button-forgetpass">
                        <button class="btn btn-outline-secondary" type="button" id="button-forgetpass">Gönder</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>